<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body { font-family: Arial; background:#f4f4f4; text-align:center; padding-top:80px; }
        a {
            background:#0066cc;
            padding:12px 20px;
            color:white;
            text-decoration:none;
            border-radius:5px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Security Monitoring System</h1>
    <p>Track IP logs, block suspicious activity, and manage admin controls.</p>

    <a href="{% url 'login' %}">Go to Admin Login</a>
</body>
</html>
